<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="school_module_action" model="ir.actions.act_window">
        <field name="name">Modules</field>
        <field name="res_model">module</field>
        <field name="view_mode">tree,form,kanban</field>
        <field name="domain">[]</field>
        <field name="context">
            {
                'tree_view_ref':'estbm.school_module_view_tree',
                'form_view_ref':'estbm.school_module_view_form',
                'kanban_view_ref':'estbm.school_module_view_kanban'
            }
        </field>
    </record>


    <!-- form view  -->
    <record id="school_module_view_form" model="ir.ui.view">
        <field name="name">school_module_view.form</field>
        <field name="model">module</field>
        <field name="arch" type="xml">
            <form string="">
                <sheet>
                    <group>
                        <group>
                            <field name="name" />
                            <field name="number_elements" />
                            <field name="filiere_id" widget="many2one_tags" required="1" />
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>


    <!-- tree view  -->
    <record id="school_module_view_tree" model="ir.ui.view">
        <field name="name">school_module_view.tree</field>
        <field name="model">module</field>
        <field name="arch" type="xml">
            <tree string="">
                <field name="name" />
                <field name="filiere_id"/>
                <field name="module_hours"/>
                <field name="number_elements" />
            </tree>
        </field>
    </record>


     <!-- module kanban view  -->
     <record id="school_module_view_kanban" model="ir.ui.view">
        <field name="name">school_module_view_kanban</field>
        <field name="model">module</field>
        <field name="arch" type="xml">
            <kanban>
                <field name="id" />
                <field name="name" />
                <templates>
                    <t t-name="kanban-box">
                        <div t-attf-class="o_kanban_card_header">
                            <div class="o_kanban_card_header_title">
                                <div class="o_primary">
                                    <h2>
                                        <a type="open">
                                            <field name="name" />
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div class="o_kanban_primary_right text-right">
                                <h3 class='float-left'>
                                    <field name="number_elements" />
                                    <span >
                                        Element de modules
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </t>
                </templates>
            </kanban>
        </field>
    </record>


    <menuitem id="school_module_menu" name="Modules" sequence="10" />
    <menuitem id="school_module_all_menu" name="Modules" action="school_module_action" parent="school_module_menu" />


</odoo>